* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}



:root {
    --bg-color: rgb(22, 28, 36);
    --bg-color2: #212b36;
    --hover-color: #ffc400;
    --text-color: #ffff;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}




.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 13% 2rem;
    background: var(--bg-color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition:  0.3 ease;
}

.logo:hover{
   transform: scale(1.1);
}



.navbar a{
    font-size: 1rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition:  0.3 ease;
    border-bottom: 3px solid transparent;
}


.navbar a:hover
{
     color: var(--hover-color);
     border-bottom:  3px solid var(--hover-color);
}