:root {
  --base-color: #ffffff;
  --hover-color: #c10007;
  --text-color: #121212;
  --color-varinat: #ababb1;
   --color-theme:#372aac; 
}

.darktheme {
  --base-color: #121212; 
  --hover-color: #c10007; 
  --text-color: #ffffff;
  --color-varinat: #ababb1;
  --color-theme:#ffba00; 
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

section {
  background-color: var(--base-color);
  color: var(--text-color);
}



/*-------------- Nav --------------*/

.home {
  background-color: var(--base-color);
  color: var(--text-color);
}
              
nav {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 10px;
  z-index: 100;
  background-color: var(--base-color);
  color: var(--text-color);

}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px ;
    border: 1px solid var(--color-varinat);
    border-radius: 70px;
}


.social, .menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px 0;
}


.menu a {
  text-decoration: none;
}


.nav-con #theme-switch{
  height: 40px;
  width: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--base-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-con #theme-switch:hover {
  cursor: pointer;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	      inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	      -0.5px -0.5px 0px rgba(255,255,255,1),
	      0.5px 0.5px 0px rgba(0,0,0,0.15),
	      0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
}

#theme-switch i {
  color: var(--color-theme);
  font-size: 1.3rem;
}


#theme-switch i:last-child {
  display: none;
}

.darktheme #theme-switch i:first-child{
  display: none;
}

.darktheme  #theme-switch i:last-child {
  display: block;
}

.social i {
  font-size: 1.3rem;
  color: var(--text-color);
}


.social i:hover {
  color: var(--hover-color);
  cursor: pointer;
}

.menu a {
  color: var(--text-color);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
}

.menu a:hover {
  color: var(--hover-color);
  cursor: pointer;
}

  .menu, .social {
  margin-bottom: 0;
 }



/*-------------- Nav --------------*/

/*-------------- Home --------------*/

.home {
  min-height: 70vh;
  display: flex;
  align-items: center;
}
.homewarpper {
  display: flex;
  padding: 50px 20px;
}

.profile_img img {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;
}

.home-con {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-con h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  text-transform: uppercase;
} 

.home-con h2 {
  color: var(--hover-color);
}


.home-con p {
  font-size: 1rem;
  margin-bottom: 30px;
}





/*-------------- Home --------------*/